<configuration>  
    <!-- see how long statements took to execute by setting to DEBUG -->
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="INFO"/>

    <!-- see what statements are executed by setting to DEBUG -->
    <logger name="slick.jdbc.JdbcBackend.statement" level="INFO"/>

    <!-- see what slick is compiling to in sql -->
    <logger name="slick.compiler" level="INFO"/>

    <!-- see what's returned by Slick -->
    <logger name="slick.jdbc.StatementInvoker.result" level="INFO"/>

    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss,SSXXX} %level [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${bitcoins.log.location}/bitcoin-s.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- hourly rollover -->
            <fileNamePattern>${bitcoins.log.location}/logs/bitcoin-s-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>

            <!-- each file should be at most 100MB, keep 2 days of history, and at most 2GB in the archive -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>48</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss,SSXXX} %level [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>