/* Taken from https://stackoverflow.com/a/58441758/6947285 */
.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #304c5a;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.dialog-pane > .content {
   -fx-background-color: #304c5a;
   -fx-text-fill: white;
}

/** Customization of the bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color: #304c5a;
  -fx-base: #304c5a;
}

.label {
    -fx-text-fill: white;
}
.error-label {
    -fx-text-fill: red;
}

/* Non-editable TextField to look like Label */
.no-text-input-readonly-style .text-input:readonly {
   -fx-background-color: transparent;
}

.titulo {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-text-fill: white;
}

.icon-button {
    -fx-background-repeat: no-repeat;
    -fx-padding: 5 15 5 15;
    -fx-background-position: center;
    -fx-background-size: 16px;
}
.narrow-icon-button {
    -fx-background-repeat: no-repeat;
    -fx-padding: 5 10 5 10;
    -fx-background-position: center;
    -fx-background-size: 16px;
}

.copy-button {
    -fx-background-image: url("../icons/copy-white.png");
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/* Accordion Group heading content */
.small {
    -fx-font-size: 0.8em;
}

/* Right content area */
.scroll-pane {
    -fx-background-insets: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* Button Group under dialog container content */
.dialog-button-group {
    -fx-border-style: solid none none none;
    -fx-border-width: 1;
    -fx-border-color: black;
}

/* New Offer Dialog */
.enum-outcome-textfield, .numeric-outcome-textfield {
    -fx-pref-width: 120;
    -fx-alignment: center-right;
}
.enum-payout-textfield, .numeric-payout-textfield {
    -fx-pref-width: 120;
    -fx-alignment: center-right;
}
.rounding-outcome-textfield, .rounding-level-textfield {
    -fx-pref-width: 120;
    -fx-alignment: center-right;
}
